body{
    margin:0;
    padding:20px;
    background:#f0f0f0;
    font-family:Arial;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.pedidos{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.pedido{
    background:white;
    padding:20px;
    border-radius:15px;
    width:260px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.pedido h3{
    margin:0 0 10px 0;
}
