body {
  font-family: Arial;
  background: #ffffff;
  text-align: center;
}

#listaPedidos {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.pedido {
  background: #ffeff8;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  text-align: left;
  box-shadow: 0 0 8px #ccc;
}

h3 {
  margin: 0;
}
